* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.documents {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto 0 auto;
}

.documents .documents__content {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 104px 24px 156px 24px;
}

.documents .documents__content h1 {
  text-transform: uppercase;
  font-family: 'Magistral-Bold';
  font-size: 63px;
  line-height: 120%;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 0 16px 0;
}

.documents .documents__content .documents-filter .search__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 32px 0;
  cursor: pointer;
  max-width: 63px;
}

.documents .documents__content .documents-filter .search__list span {
  line-height: 140%;
  display: block;
  font-family: 'Inter-Regular';
  font-size: 15px;
  color: #2b2b2b;
  margin: 0 8px 0 0;
}

.documents .documents__content .documents-filter .search__list img {
  width: 8px;
  height: 6px;
  margin: 1px 0 0 0;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.documents .documents__content .documents-filter .search__list._active img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.documents .documents__content .documents-filter .documents__search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 56px 0;
}

.documents .documents__content .documents-filter .documents__search-button input {
  padding: 14px 20px 13px 20px;
  max-width: 215px;
  width: 100%;
  border: 1px solid rgba(43, 43, 43, 0.1);
  border-radius: 100px;
  font-family: 'Inter-Medium';
  font-size: 15px;
  color: rgba(43, 43, 43, 0.3);
  outline: none;
  margin: 0 24px 0 0;
}

.documents .documents__content .documents-filter .documents__search-button .document-search {
  text-transform: uppercase;
  background: rgba(43, 43, 43, 0.1);
  border-radius: 100px;
  max-width: 215px;
  width: 100%;
  padding: 14px 20px 13px 20px;
  font-family: 'Magistral-Medium';
  font-size: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.documents .documents__content .documents__container .accordion {
  border-bottom: 1px solid rgba(43, 43, 43, 0.1);
}

.documents .documents__content .documents__container .accordion:nth-child(1) {
  border-top: 1px solid rgba(43, 43, 43, 0.1);
}

.documents .documents__content .documents__container .accordion .button__accordion {
  cursor: pointer;
  padding: 32px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents .documents__content .documents__container .accordion .button__accordion a {
  font-family: 'Inter-Bold';
  font-size: 20px;
  color: #2B2B2B;
  text-decoration: none;
  display: block;
}

.documents .documents__content .documents__container .accordion .button__accordion .accordion__icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 0 0 24px;
}

.documents .documents__content .documents__container .accordion .button__accordion .accordion__icon span {
  content: "";
  position: absolute;
  top: 10.5px;
  width: 24px;
  height: 3px;
  background-color: #2B2B2B;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.documents .documents__content .documents__container .accordion .button__accordion .accordion__icon::after {
  content: "";
  position: absolute;
  top: 10.5px;
  width: 24px;
  height: 3px;
  background-color: #2B2B2B;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.documents .documents__content .documents__container .accordion .button__accordion._active .accordion__icon::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.documents .documents__content .documents__container .accordion .button__accordion._active .accordion__icon span {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.documents .documents__content .documents__container .accordion .panel__accordion {
  padding: 0 0 32px 0;
  display: none;
}

.documents .documents__content .documents__container .accordion .panel__accordion._active {
  display: block;
}

.documents .documents__content .documents__container .accordion .panel__accordion .panel__txt {
  font-size: 15px;
  line-height: 140%;
  font-family: 'Inter-Medium';
  color: #2B2B2B;
  text-decoration: none;
  display: block;
  margin: 0 0 16px 0;
}

.documents .documents__content .documents__container .accordion .panel__accordion .panel__txt:nth-last-child(1) {
  margin: 0;
}

.documents .documents__content .documents__container .accordion .panel__accordion .panel__txt .panel__txt-link {
  color: #02489F;
  text-decoration: underline;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.documents .documents__content .documents__container .accordion .panel__accordion .panel__txt .panel__txt-link:hover {
  color: rgba(2, 72, 159, 0.7);
}

@media (max-width: 1000px) {
  .documents .documents__content {
    padding: 104px 24px 104px 24px;
  }
  .documents .documents__content h1 {
    font-size: 40px;
  }
}

@media (max-width: 700px) {
  .documents .documents__content {
    padding: 72px 10px 72px 10px;
  }
  .documents .documents__content h1 {
    font-size: 30px;
  }
  .documents .documents__content .documents-filter .search__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .documents .documents__content .documents-filter .documents__search-button {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 40px 0;
  }
  .documents .documents__content .documents-filter .documents__search-button input {
    margin: 0 16px 16px 0;
  }
  .documents .documents__content .documents-filter .documents__search-button .document-search {
    margin: 0 0 16px 0;
  }
  .documents .documents__content .documents__container .accordion .button__accordion a {
    font-size: 17px;
  }
}
