* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main__button {
  font-family: 'Magistral-Medium';
  color: #ffffff;
  font-size: 16px;
  border: 2px solid #ffffff;
  padding: 24px 0 23px 0;
  max-width: 280px;
  width: 100%;
  border-radius: 50%;
  display: block;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

.main__button img {
  width: 16px;
  height: 16px;
  margin: 0 0 0 16px;
}

.media-photo__page {
  margin: 0 auto 0 auto;
  max-width: 1920px;
  width: 100%;
}

.media-photo__page .news-page__content-back {
  max-width: 1536px;
  width: 100%;
  padding: 104px 24px 156px 24px;
  margin: 0 auto 0 auto;
}

.media-photo__page .news-page__content-back .news-page__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px 0;
}

.media-photo__page .news-page__content-back .news-page__tags .news-page__tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 9px 0 9px 0;
}

.media-photo__page .news-page__content-back .news-page__tags .news-page__tag-container .news__tag {
  margin: 0 8px 8px 0;
  cursor: pointer;
  padding: 9px 12px 9px 12px;
  font-family: 'Inter-Medium';
  font-size: 15px;
  color: #02489F;
  border-radius: 50px;
  background: rgba(2, 72, 159, 0.2);
}

.media-photo__page .news-page__content-back .news-page__content {
  -webkit-column-gap: 40px;
          column-gap: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.media-photo__page .news-page__content-back .news-page__content .news-page__heading-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  max-width: 1536px;
  width: 100%;
}

.media-photo__page .news-page__content-back .news-page__content .news-page__heading-date h1 {
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 1px;
  font-family: 'Magistral-Bold';
  font-size: 30px;
  color: #2B2B2B;
  display: block;
  margin: 0 0 16px 0;
}

.media-photo__page .news-page__content-back .news-page__content .news-date {
  display: block;
  font-family: 'Inter-Regular';
  font-size: 15px;
  color: rgba(43, 43, 43, 0.3);
  display: block;
  margin: 0 0 56px 0;
}

.media-photo__page .news-page__content-back .news-image__section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  max-width: 724px;
  width: 100%;
}

.media-photo__page .news-page__content-back .news-image__section .news__image {
  display: block;
  max-width: 724px;
  width: 100%;
  overflow: hidden;
}

.media-photo__page .news-page__content-back .news-image__section .news__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.media-photo__page .news-page__content-back .news-image__section .news__image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.media-photo__page .news-page__content-back .news-image__section .image__section-descr {
  display: block;
  font-family: 'Inter-Regular';
  font-size: 15px;
  color: rgba(43, 43, 43, 0.3);
  display: block;
  margin: 16px 0 0 0;
}

.media-photo__page .news-page__content-back .media-video__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  max-width: 597px;
  width: 100%;
}

.media-photo__page .news-page__content-back .media-video__section .news__video {
  display: block;
  max-width: 724px;
  width: 100%;
  overflow: hidden;
}

.media-photo__page .news-page__content-back .media-video__section .news__video img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.media-photo__page .news-page__content-back .media-video__section .news__video img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.media-photo__page .news-page__content-back .media-video__section .image__section-descr {
  display: block;
  font-family: 'Inter-Regular';
  font-size: 15px;
  color: rgba(43, 43, 43, 0.3);
  display: block;
  margin: 16px 0 0 0;
}

.media-photo__page .main__button {
  border: none;
  background-color: #02489F;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media-photo__page .main__button:hover img {
  position: relative;
  top: 8px;
}

@media (max-width: 1000px) {
  .media-photo__page .news-page__content-back {
    padding: 104px 24px 104px 24px;
  }
  .media-photo__page .news-page__content-back .news-page__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .media-photo__page .news-page__content-back .news-page__content .news-page__heading-date {
    max-width: 1536px;
  }
  .media-photo__page .news-page__content-back .news-image__section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 1000px;
  }
  .media-photo__page .news-page__content-back .news-image__section .news__image {
    max-width: 1000px;
  }
  .media-photo__page .news-page__content-back .media-video__section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 460px;
  }
  .media-photo__page .news-page__content-back .media-video__section .news__video {
    max-width: 460px;
  }
}

@media (max-width: 900px) {
  .media-photo__page .news-page__content-back .media-video__section {
    max-width: 348px;
  }
  .media-photo__page .news-page__content-back .media-video__section .news__video {
    max-width: 460px;
  }
}

@media (max-width: 700px) {
  .media-photo__page .news-page__content-back {
    padding: 72px 10px 72px 10px;
  }
  .media-photo__page .news-page__content-back .news-page__tags {
    margin: 0 0 8px 0;
  }
  .media-photo__page .news-page__content-back .news-page__content .news-page__heading-date h1 {
    margin: 0 0 8px 0;
    font-size: 20px;
  }
  .media-photo__page .news-page__content-back .news-page__content .news-date {
    margin: 0 0 32px 0;
  }
  .media-photo__page .news-page__content-back .news-image__section {
    max-width: 1000px;
  }
  .media-photo__page .news-page__content-back .news-image__section .news__image {
    max-width: 1000px;
  }
  .media-photo__page .news-page__content-back .news-image__section .image__section-descr {
    margin: 8px 0 0 0;
  }
  .media-photo__page .news-page__content-back .media-video__section {
    max-width: 348px;
  }
  .media-photo__page .news-page__content-back .media-video__section .news__video {
    max-width: 348px;
  }
  .media-photo__page .news-page__content-back .media-video__section .image__section-descr {
    margin: 8px 0 0 0;
  }
  .media-photo__page .main__button {
    max-width: 300px;
  }
}
