* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sprites {
  display: none;
}

.main__button {
  font-family: 'Magistral-Medium';
  color: #ffffff;
  font-size: 16px;
  border: 2px solid #ffffff;
  padding: 24px 0 23px 0;
  max-width: 280px;
  width: 100%;
  border-radius: 50%;
  display: block;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

.main__button img {
  width: 16px;
  height: 16px;
  margin: 0 0 0 16px;
}

.project__template {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.project__template .project__template-heading {
  width: 100%;
  height: 450px;
  background: linear-gradient(99.31deg, #02489F -26.39%, #1AB8EC 114.97%);
}

.project__template .project__template-heading .project__template-container {
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto 0 auto;
  position: relative;
}

.project__template .project__template-heading .project__template-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__template .project__template-heading .project__template-container .project__template-content {
  max-width: 1536px;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px 0 24px;
  right: 0;
}

.project__template .project__template-heading .project__template-container .project__template-content h1 {
  font-family: 'Magistral-Bold';
  color: #ffffff;
  font-size: 63px;
  max-width: 620px;
  line-height: 120%;
  letter-spacing: 0.04em;
}

.project__template .project__template-content {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 56px 24px 156px 24px;
}

.project__template .project__template-content .select {
  display: none;
  margin: 0 0 32px 0;
  max-width: 140px;
  width: 100%;
  position: relative;
}

.project__template .project__template-content .select .select__header {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px 13px 20px;
  border: 1px solid #2B2B2B;
  border-radius: 50px;
}

.project__template .project__template-content .select .select__header .select__current {
  font-family: 'Inter-Regular';
  color: #2B2B2B;
  font-size: 15px;
}

.project__template .project__template-content .select .select__header .select__icon {
  margin: 0 0 0 auto;
  width: 8px;
  height: 6px;
  display: block;
}

.project__template .project__template-content .select .select__header .select__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.project__template .project__template-content .project__descr-one {
  line-height: 140%;
  font-family: 'Inter-Regular';
  font-size: 20px;
  color: #2B2B2B;
  display: block;
  margin: 0 0 56px 0;
}

.project__template .project__template-content .project-years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 56px 0;
}

.project__template .project__template-content .project-years .project-years__btn {
  cursor: pointer;
  max-width: 111px;
  width: 100%;
  font-family: 'Inter-Regular';
  color: #2B2B2B;
  font-size: 15px;
  border: 1px solid rgba(43, 43, 43, 0.1);
  border-radius: 50px;
  background-color: rgba(43, 43, 43, 0);
  padding: 14px 0 13px 0;
  margin: 0 8px 0 8px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.project__template .project__template-content .project-years .project-years__btn:hover {
  border: 1px solid #2b2b2b;
}

.project__template .project__template-content .project__descr-two {
  line-height: 140%;
  font-family: 'Inter-Regular';
  font-size: 20px;
  color: #2B2B2B;
  display: block;
  margin: 0 0 56px 0;
}

.project__template .project__template-content .project__text-download {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Magistral-Medium';
  font-size: 16px;
  color: #02489F;
  margin: 0 0 56px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__template .project__template-content .project__text-download img {
  width: 16px;
  height: 16px;
  margin: 0 0 0 8px;
}

.project__template .project__template-content .project__video-container {
  max-width: 597px;
  width: 100%;
  margin: 0 0 56px 0;
}

.project__template .project__template-content .project__video-container .project__video {
  cursor: pointer;
  max-width: 597px;
  width: 100%;
  overflow: hidden;
  margin: 0 0 24px 0;
  display: block;
}

.project__template .project__template-content .project__video-container .project__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.project__template .project__template-content .project__video-container .project__video img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__template .project__template-content .project__video-container .project__video-descr {
  line-height: 140%;
  font-family: 'Inter-Regular';
  font-size: 15px;
  color: #2B2B2B;
  display: block;
}

.project__template .project__template-content .project__photo-back .project__photo-galery {
  margin: 104px 0 72px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container {
  cursor: pointer;
  max-width: 469px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__template .project__template-content .project__photo-back .main__button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  background-color: #02489F;
}

.project__template .project__template-content .project__photo-back .main__button:hover img {
  position: relative;
  top: 8px;
}

.project__template .project__template-content .project__video-back {
  margin: 156px 0 0 0;
}

.project__template .project__template-content .project__video-back .project__video-galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 40px;
  margin: 0 0 72px 0;
}

.project__template .project__template-content .project__video-back .project__video-galery .galery__video-back {
  max-width: 342px;
  width: 100%;
}

.project__template .project__template-content .project__video-back .project__video-galery .galery__video-back .galery__video-container {
  cursor: pointer;
  margin: 0 0 16px 0;
  max-width: 342px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.project__template .project__template-content .project__video-back .project__video-galery .galery__video-back .galery__video-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.project__template .project__template-content .project__video-back .project__video-galery .galery__video-back .galery__video-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__template .project__template-content .project__video-back .project__video-galery .galery__video-back .video__descr {
  line-height: 140%;
  font-family: 'Inter-Medium';
  font-size: 15px;
  color: #2B2B2B;
  display: block;
}

.project__template .project__template-content .project__video-back .main__button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  background-color: #02489F;
}

.project__template .project__template-content .project__video-back .main__button:hover img {
  position: relative;
  top: 8px;
}

.project__template .project__template-content .project__galery-back {
  margin: 156px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.project__template .project__template-content .project__galery-back .project__galery {
  max-width: 342px;
  width: 100%;
}

.project__template .project__template-content .project__galery-back .project__galery .galery__video-container {
  cursor: pointer;
  margin: 0 0 16px 0;
  max-width: 342px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.project__template .project__template-content .project__galery-back .project__galery .galery__video-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.project__template .project__template-content .project__galery-back .project__galery .galery__video-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__template .project__template-content .project__galery-back .project__galery .video__descr {
  line-height: 140%;
  font-family: 'Inter-Bold';
  font-size: 20px;
  color: #2B2B2B;
  display: block;
}

.project__template .project__template-content .project__galery-back .project__galery .main__button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: none;
  background-color: #02489F;
}

.project__template .project__template-content .project__galery-back .project__galery .main__button:hover img {
  position: relative;
  top: 8px;
}

@media (max-width: 1100px) {
  .project__template .project__template-heading {
    height: 360px;
  }
  .project__template .project__template-heading .project__template-container .project__template-content h1 {
    font-size: 40px;
    max-width: 390px;
  }
  .project__template .project__template-content {
    padding: 56px 24px 104px 24px;
  }
  .project__template .project__template-content .project__video-container {
    max-width: 460px;
  }
  .project__template .project__template-content .project__video-container .project__video {
    max-width: 460px;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container {
    max-width: 700px;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container:nth-last-child(-n+6) {
    display: none;
  }
  .project__template .project__template-content .project__video-back {
    margin: 104px 0 0 0;
  }
  .project__template .project__template-content .project__video-back .project__video-galery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 40px;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back:nth-last-child(-n+4) {
    display: none;
  }
  .project__template .project__template-content .project__galery-back {
    margin: 104px 0 0 0;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 40px;
  }
}

@media (max-width: 900px) {
  .project__template .project__template-content {
    padding: 56px 24px 104px 24px;
  }
  .project__template .project__template-content .project__video-container {
    max-width: 348px;
  }
  .project__template .project__template-content .project__video-container .project__video {
    max-width: 348px;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container:nth-last-child(-n+6) {
    display: none;
  }
  .project__template .project__template-content .project__video-back {
    margin: 104px 0 0 0;
  }
  .project__template .project__template-content .project__video-back .project__video-galery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 40px;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back {
    max-width: 700px;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back:nth-last-child(-n+8) {
    display: none;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back .galery__video-container {
    max-width: 700px;
  }
  .project__template .project__template-content .project__galery-back {
    margin: 104px 0 0 0;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 24px;
  }
  .project__template .project__template-content .project__galery-back .project__galery {
    max-width: 600px;
  }
  .project__template .project__template-content .project__galery-back .project__galery:nth-child(-n+4) {
    display: none;
  }
  .project__template .project__template-content .project__galery-back .project__galery .galery__video-container {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .project__template .project__template-heading {
    height: 320px;
  }
  .project__template .project__template-heading .project__template-container .project__template-content h1 {
    font-size: 30px;
    max-width: 290px;
  }
  .project__template .project__template-content {
    padding: 32px 10px 72px 10px;
  }
  .project__template .project__template-content .select {
    display: block;
  }
  .project__template .project__template-content .project__descr-one {
    font-size: 17px;
    margin: 0 0 32px 0;
  }
  .project__template .project__template-content .project-years {
    display: none;
  }
  .project__template .project__template-content .project__descr-two {
    font-size: 17px;
    margin: 0 0 32px 0;
  }
  .project__template .project__template-content .project__text-download {
    margin: 0 0 32px 0;
  }
  .project__template .project__template-content .project__video-container {
    max-width: 300px;
    margin: 0 0 72px 0;
  }
  .project__template .project__template-content .project__video-container .project__video {
    max-width: 300px;
    margin: 0 0 8px 0;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery {
    margin: 0 0 48px 0;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .project__template .project__template-content .project__photo-back .project__photo-galery .galery__image-container:nth-last-child(-n+6) {
    display: none;
  }
  .project__template .project__template-content .project__photo-back .main__button {
    max-width: 300px;
  }
  .project__template .project__template-content .project__video-back {
    margin: 74px 0 0 0;
  }
  .project__template .project__template-content .project__video-back .project__video-galery {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 24px;
    margin: 0 0 48px 0;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back {
    max-width: 700px;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back:nth-last-child(-n+12) {
    display: none;
  }
  .project__template .project__template-content .project__video-back .project__video-galery .galery__video-back .galery__video-container {
    max-width: 700px;
  }
  .project__template .project__template-content .project__galery-back {
    margin: 72px 0 0 0;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 24px;
  }
  .project__template .project__template-content .project__galery-back .project__galery {
    max-width: 600px;
  }
  .project__template .project__template-content .project__galery-back .project__galery:nth-child(-n+4) {
    display: block;
  }
  .project__template .project__template-content .project__galery-back .project__galery .galery__video-container {
    max-width: 600px;
  }
}
