*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.page__navigation{
    display: flex;
    max-width: 1536px;
        width: 100%;
        padding: 10px 24px 10px 24px;
        margin: 0 auto 0 auto;
    & .navigation__home{
        display: block;
        & img{
            width: 21px;
            height: 17.5px;
        }
    }
    & .navigation__separator{
        font-family: 'Inter-Medium';
        font-size: 15px;
        color: rgba(2, 72, 159, 0.4);
        display: block;
        text-decoration: none;
        margin: 0 12px 0 12px;  
   }
   & .navigation__page-link{
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       font-family: 'Inter-Medium';
       font-size: 15px;
       color: rgba(2, 72, 159, 0.4);
       display: block;
       text-decoration: none;
   }
}
@media (max-width: 700px){
    .page__navigation{
        display: none;
    }
}